@import '~rsuite/lib/styles/themes/dark/index.less';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

@base-color: #57f287;

@font-face {
  font-family: SourceSansPro;
  src: url('/public/SourceSansPro-SemiBold.ttf');
}

.rs-icon.fill-colour use {
  fill: currentColor;
}

a {
  color: @base-color;
}
ul {
  list-style-type: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;

  ::-webkit-scrollbar {
    border-radius: 6px;
    width: 3px;
  }
  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb {
    background: @base-color;
    border-radius: 5px;
  }
}

body {
  font-family: SourceSansPro, 'Lucida Grande', sans-serif;
  font-size: 16px;
}

.currency {
  display: flex;
  vertical-align: middle;
}

.item-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.item {
  width: 100%;
}

.item-popover-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.item-popover {
  display: flex;
  column-gap: 10px;
  width: 250px;

  .item-popover-info {
    p {
      margin: 0;
    }
  }
}

.popover-item-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-popover-info h2 {
  margin: 0;
  width: 200px;
}

.listing-create-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
