@import '~rsuite/lib/styles/themes/dark/index.less';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

@base-color: #57f287;

@font-face {
  font-family: SourceSansPro;
  src: url('/public/SourceSansPro-SemiBold.ttf');
}

.rs-icon.fill-colour use {
  fill: currentColor;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;

  ::-webkit-scrollbar {
    border-radius: 6px;
    width: 3px;
  }
  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb {
    background: @base-color;
    border-radius: 5px;
  }
  a {
    color: @base-color;
  }

  a:hover {
    filter: brightness(1.15);
  }

  ul {
    list-style-type: none;
  }
}

body {
  font-family: SourceSansPro, 'Lucida Grande', sans-serif;
  font-size: 16px;
}
