.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    width: 350px;
}

.grid-container div img {
    width: 100%;
}

.grid-container button {
    padding: 0;
}

.empty {
    background-color: var(--BG);
    border-radius: 5px;
}

.locked {
    background-color: var(--lightBG);
    border-radius: 5px;
}

.grid-icon {
    width: 50px;
    height: 50px;
}


.rs-btn {
    padding: 2px;
}

.generator-btn {
    padding: 20;
}

.generator-info {
    display: flex;
    gap: 25px;
    justify-content: center;
    font-size: large;
}

.generator-info-list {
    list-style: none;
}

.Title {
    color: var(--accent);
    font-weight: 1000;
}