.Header {
    display: block;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
