.item {
  width: 100%;
  padding: 5px;
  cursor: grab;
}

.items {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  overflow: auto;
}

.panel {
  background-color: #1a1d24;
}

.sortableHelper {
  z-index: 100;
}
