.landingMain {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  column-gap: 10px;

  .itemGrid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    column-gap: 10px;
  }

  .userCard {
    width: 810px;
    margin-bottom: 10px;
  }

  .landingRightSidebar {
    width: 400px;
  }
}

.header {
  display: flex;
  align-items: center;

  .headerText {
    font-size: 5.5rem;
    font-weight: 700;
  }
}

.buttons {
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
}

.blurb {
  width: 500px;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  margin-top: 10px;
  text-align: center;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sectionOne {
  height: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTwo {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13171f;
}

.caret {
  margin-top: 30px;
}
