.items-grid {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  column-gap: 10px;
}

.user-card {
  width: 810px;
  margin-bottom: 10px;
}

.landing-main {
  display: flex;
  margin: 10px;
  justify-content: center;
  column-gap: 10px;
}

.landing-right-sidebar {
  width: 400px;
}
