
.legendary {
    background-color: var(--lightBG);
    border: 2px solid transparent;
    border-color: #edc361;
}

.epic {
    background-color: var(--lightBG);
    border: 2px solid transparent;
    border-color: #8e60eb;
}

.regular {
    background-color: var(--lightBG);
    border: 2px solid transparent;
    border-color: #5466a8;
}

.reward-info {
    margin: 20px;
}

.lootboxes-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px
}

@media screen and (max-width:745px) {

    .lootboxes-grid {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 10px
    }
}

@media screen and (max-width:622px) {

    .lootboxes-grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px
    }
}

@media screen and (max-width:500px) {

    .lootboxes-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px
    }
}

.lootbox-button button:hover {
    background-color: #fff;
}

.lootbox-img {
    width: 75px;
}

