.lootboxes-list ul {
    width: 30%;
}

.lootboxes-list li {
    display: flex;
    justify-content: space-between;
    width: 680px;
    background-color: var(--lightBG);
    padding: 15px;
    border-radius: 5px;
    align-items: center; /* align vertical */
}

.lootboxes-list li Button {
    width: 30%;
}

.legendary {
    background-color: rgb(255,132,44);
    background: linear-gradient(90deg, rgba(255,132,44,1) 0%, rgba(252,176,69,1) 100%);
}

.epic {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.regular {
    background-color: rgb(63,89,251);
    background: linear-gradient(90deg, rgba(63,89,251,1) 0%, rgba(70,159,252,1) 100%);
}

@media screen and (max-width:769px) {

    .lootboxes-list ul {
        width: 90%;
    }

    .lootboxes-list li {
        width: 100%;
    }
}

.reward-info {
    margin: 20px;
}