
.legendary {
    background-color: var(--lightBG);
    border: 3px solid transparent;
    border-color: #edc361;
}

.epic {
    background-color: var(--lightBG);
    border: 3px solid transparent;
    border-color: #8e60eb;
}

.regular {
    background-color: var(--lightBG);
    border: 3px solid transparent;
    border-color: #5466a8;
}

.reward-info {
    margin: 20px;
}

.lootbox-footer {
    display: flex;
}

.lootbox-panels {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.panel-lootboxes {
    background-color: var(--darkBG);
    width: 700px;
    height: 300px;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

.lootboxes-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px
}

@media screen and (max-width:745px) {

    .lootboxes-grid {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 10px
    }
}

@media screen and (max-width:622px) {

    .lootboxes-grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px
    }
}

@media screen and (max-width:500px) {

    .lootboxes-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px
    }
}

.lootbox-button button:hover {
    background-color: #fff;
}

.lootbox-img {
    width: 75px;
}

.modal-container {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}

.unboxed-item {
    justify-content: center;
    display: flex;
}

