.page-grid {
    display: grid;
    width: 30%;
    margin: 0 auto;
    grid-gap: 20px;
    justify-content: center;
    grid-template-areas: "a a"
                         "b c"
                         "d d";
}

.item-1 {
    grid-area: a;
}

.item-2 {
    grid-area: b;
}

.item-3 {
    grid-area: c;
}

.item-4 {
    grid-area: d;
}

@media screen and (max-width:769px) {

    .page-grid {
        grid-template-areas: "a"
                              "b"
                              "c";
    }
}