.panel {
    display: flex;
    justify-content: center;
    width: 720px;
    background-color: var(--darkBG);
}

.small-panel {
    display: flex;
    justify-content: center;
    width: 390px;
    background-color: var(--darkBG);
}

.small-panel .rs-btn {

    padding: 10px;
}

.grid-panel {
    background-color: var(--darkBG)
}

.panels {
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width:800px) {

    .panel {
        display: block;
        width: 80%;
    }
}