.itemButtons {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
}

.panel {
  background-color: #13171f;
}

.itemPanel {
  position: relative;

  display: flex;
  height: 120px;
  justify-content: space-between;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    275deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(87, 242, 135, 0.08727240896358546) 100%
  );
  padding: 10px;
  h2 {
    margin: 0;
  }
}

.itemImage {
  width: 100%;

  img {
    float: right;
    height: 80%;
  }
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.itemGroup {
  overflow-y: scroll;
  height: 538px;
}
