.usercardTop {
  display: flex;
  column-gap: 15px;
  margin: 0;
  padding: 20px;
  p,
  h1 {
    margin: 0;
  }
}

.usercardButtons {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
  transition: 0.2s ease-in-out;

  .right,
  .left {
    display: flex;
    gap: 10px;
  }
}

.usercardPanel {
  background-color: #13171f;
}

.buttonFloat {
  float: right;
}

.muted {
  opacity: 0.85;
}
