.user-card {
    background-color: var(--darkBG);
    min-width: 785px;
}

.user-card .details {
    padding: 10px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.user-card .kingdom-info {
    display: flex;
    column-gap: 30px;
}

.user-card .mini-details {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.user-card .level {
    color: var(--white);
    font-size: 50%;
}

.user-card .profile-icon {
    border-radius: 5%;
    width: 115px;
    display: flex;
    align-items: center;
    background-color: var(--lightBG);
}

.user-card ul {
    list-style: none;
    color: var(--white)
}

.user-card ul .impo {
    font-weight: 1000;
}

.level-flex {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
}

.level-flex p {
    margin: 0px;
}

.premium-indicator {
    font-weight: 1000;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    background: rgb(253,190,20);
}

.premium-indicator a {
    color: var(--darkBG);
}

@media screen and (max-width:1469px) {

    .user-card {
        min-width: 0px;
    }
}


@media screen and (max-width:769px) {

    .user-card .details {
        display: grid;
    }
}


