.navBar {
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  column-gap: 8px;
}

.drawer {
  display: none;
}

.drawerContent {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

@media only screen and (max-width: 600px) {
  .buttons {
    display: none;
  }
  .drawer {
    display: block;
  }
}
