@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
    --BG: #36393f;
    --lightBG: #181b1d;
    --darkBG: #222629;
    --accent: #3add99;
    --darkAccent:  #1e704e;
    --white: #f1f1f1;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


*::selection {
    background-color: var(--accent)
}

body {
    background-color: var(--lightBG);
}

a:link {
    text-decoration: none;
}

a:link:hover {
    color: var(--accent);
}

.highlight {
    color: var(--accent);
    font-weight: 1000;
}

.middle {
    position: absolute;
    top: 25%;
    left: 40%;
    /* bring your own prefixes */
    transform: translate(-55%, -55%);
}


.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
.avatar-icon {
    vertical-align: baseline;
}

.logotext {
    display: flex;
    align-items: center;
    color: var(--white);
    text-decoration: none;
}

.center {
    text-align: center;
}

.small-gem {
    width: 16px;
}