@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
    --BG: #36393f;
    --lightBG: #2f3136;
    --darkBG: #252525;
    --accent: #3add99;
    --darkAccent:  #1e704e;
    --white: #f1f1f1;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


*::selection {
    background-color: var(--accent)
}

body {
    background-color: var(--lightBG);
}

.highlight {
    color: var(--accent);
}

.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}